@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    Craig Brito<br />
    <abbr title="Email">Email:</abbr>
    <a href="mailto:craig.brito@sbcglobal.net">craig.brito@sbcglobal.net</a><br />
    <abbr title="Phone">Phone:</abbr>
    916.802.5501
</address>
