@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>EMF Coding Exercise</h1>
</div>
<div>
    <h2><a asp-area="" asp-controller="Departments" asp-action="Index">Departments</a></h2>
    <h2><a asp-area="" asp-controller="Employees" asp-action="Index">Employees</a></h2>
</div>
